:root{
    --primary-color: rgb(45, 45, 129);
    --secondary-color: rgb(255, 255, 255);
    --ship-color: rgb(141, 136, 136, 40%);
    --ship-border-color: rgb(45, 45, 129, 80%);
    --header-footer-color: rgb(7, 7, 51);
}

*{
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: "Orbitron", serif;
}


body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
}

body > header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--header-footer-color);
}

header > #ship-icon{
    height: 7rem;
    width: auto;
}



main{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 10px;
}

main .player-board{
    background-color: var(--secondary-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    grid-template-rows: repeat(10, minmax(50px, 1fr));
    border: 4px solid black;
    margin-top: 10px;
}

.disabled-board{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.board-item{
    border: thin solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-item{
    background-color: var(--ship-color);
    border: 4px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit-item{
    background-color: red;
    
}


.hit-item > img,
.board-item > img{
    height: 2rem;
    width: 2rem;
}


h2.player-header{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    
}

.buttons button{
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.buttons button:hover{
    transform: scale(1.2);
    background-color: yellow;
}


#event-log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  
}

#event-log > output{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 100px;
    overflow: auto;
}

output > div{
    color: black;
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    background-color: var(--header-footer-color);
    margin-top: 50px;
    font-size: 1rem;
}

