:root{
    --primary-color: rgb(45, 45, 129);
    --secondary-color: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
}


body{
    background-color: var(--primary-color);
}

body > header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

header > #ship-icon{
    height: 7rem;
    width: auto;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main .player-board{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 4px solid black;
    height: 600px;
    width: 600px;
}

.board-item{
    border: 1px solid black;

}


h2.player-header{
    text-align: center;
}

